@import "@vueform/multiselect/themes/default.css";

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.btn-circle {
    border-radius: 60px;
    text-align: center;
    outline: 2px solid black;
    outline-offset: -2px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.round {
    border-radius: 60px;
    outline: 2px solid black;
    outline-offset: -2px;
    color: white;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.priorityHigh {
    background-color: #FF0000 !important;
}

.priorityMedium,
.statusOnHold {
    background-color: #E3A400 !important;
}

.priorityLow,
.statusInProgress {
    background-color: #00A510 !important;
}

.statusDone {
    background-color: #05FF00 !important;
}

.statusPaused {
    background-color: #f4ff00 !important;
}

.statusPending {
    background-color: #D9D9D9 !important;
}

:disabled,
.statusArchived {
    color: #C8C8C8 !important;
    outline: 2px solid black !important;
    background-color: #F9F9F9 !important;
    outline-color: #C8C8C8 !important;
    text-shadow: none !important;
    --bs-btn-border-color: none !important;
}

.table-container {
    max-height: 50vh;
    overflow: auto;
}

thead {
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: #ffffff;
    box-shadow: 0px 0.1px 0px 0px #dee2e6;
}